#my-skills {
    position: absolute !important;
    bottom: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .HTML5 {
        border: 2px solid;
        padding: 10px;
    }
}